<p id="notice"><%= notice %></p>

<p>
  <b>Added:</b>
  <%= @task.added %>
</p>

<p>
  <b>Task:</b>
  <%= @task.task %>
</p>

<p>
  <b>Completed:</b>
  <%= @task.completed %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
